body{
   
    background-image: linear-gradient(rgba(52, 196, 24, 0.938) , rgb(49, 255, 8));
}
*{
    padding: 0;
    margin: 0;
   box-sizing: border-box; 
}
header{
    width: 100%;
    height:20vh;
    background-image: linear-gradient(to top,#fff 60%,#c3f5ff 40%) ;
}
.navSec{
    width: 100%;
    height:20vh;
    background-image: linear-gradient(to top,#fff 80%,#c3f5ff 20%) ;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
nav {
    width: 60%;
   
    display: flex;
    justify-content: space-around;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    font-size: 17px;
}/*
nav a:first-child{
    color: rgb(111, 0, 255);
}*/


.logo{
    width: 40%;
    background-image: linear-gradient(#8d98e3 40%,#854fed 60%); 
    padding-left: 100px;
}
.footer{
    display: flex;
    justify-content: flex-end;
}

.logo h1{
    font-family: 'Langar', cursive;
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: move 5s infinite;
    animation-direction: alternate;
}
@keyframes move {
    from{
       padding-left :0px;
    }
    to{
        padding-left: 300px;
    }
}
.info-pro{
    font-size: 100px;
}